body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(175, 175, 175);
}
#fullScreen{
    background-color: aqua;
}

.container{
    background-color: rgb(222, 239, 254);
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 10px;
}
button{
    padding:10px 30px;
    font-size:1rem;
    border: none;
    border-radius: 5px;
}